In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 100)

In [3]:
# Load market data
market_train = pd.read_csv("market_train_df.csv")

In [4]:
# Load news data file 1
news_train = pd.read_csv("news_train_df_1.csv")

In [5]:
# Is market_train dates in ascending order? Yes
market_train['time']

0          2007-02-01 22:00:00+00:00
1          2007-02-01 22:00:00+00:00
2          2007-02-01 22:00:00+00:00
3          2007-02-01 22:00:00+00:00
4          2007-02-01 22:00:00+00:00
5          2007-02-01 22:00:00+00:00
6          2007-02-01 22:00:00+00:00
7          2007-02-01 22:00:00+00:00
8          2007-02-01 22:00:00+00:00
9          2007-02-01 22:00:00+00:00
10         2007-02-01 22:00:00+00:00
11         2007-02-01 22:00:00+00:00
12         2007-02-01 22:00:00+00:00
13         2007-02-01 22:00:00+00:00
14         2007-02-01 22:00:00+00:00
15         2007-02-01 22:00:00+00:00
16         2007-02-01 22:00:00+00:00
17         2007-02-01 22:00:00+00:00
18         2007-02-01 22:00:00+00:00
19         2007-02-01 22:00:00+00:00
20         2007-02-01 22:00:00+00:00
21         2007-02-01 22:00:00+00:00
22         2007-02-01 22:00:00+00:00
23         2007-02-01 22:00:00+00:00
24         2007-02-01 22:00:00+00:00
25         2007-02-01 22:00:00+00:00
26         2007-02-01 22:00:00+00:00
27         2007-02-01 22:00:00+00:00
28         2007-02-01 22:00:00+00:00
29         2007-02-01 22:00:00+00:00
                     ...
4072926    2016-12-30 22:00:00+00:00
4072927    2016-12-30 22:00:00+00:00
4072928    2016-12-30 22:00:00+00:00
4072929    2016-12-30 22:00:00+00:00
4072930    2016-12-30 22:00:00+00:00
4072931    2016-12-30 22:00:00+00:00
4072932    2016-12-30 22:00:00+00:00
4072933    2016-12-30 22:00:00+00:00
4072934    2016-12-30 22:00:00+00:00
4072935    2016-12-30 22:00:00+00:00
4072936    2016-12-30 22:00:00+00:00
4072937    2016-12-30 22:00:00+00:00
4072938    2016-12-30 22:00:00+00:00
4072939    2016-12-30 22:00:00+00:00
4072940    2016-12-30 22:00:00+00:00
4072941    2016-12-30 22:00:00+00:00
4072942    2016-12-30 22:00:00+00:00
4072943    2016-12-30 22:00:00+00:00
4072944    2016-12-30 22:00:00+00:00
4072945    2016-12-30 22:00:00+00:00
4072946    2016-12-30 22:00:00+00:00
4072947    2016-12-30 22:00:00+00:00
4072948    2016-12-30 22:00:00+00:00
4072949    2016-12-30 22:00:00+00:00
4072950    2016-12-30 22:00:00+00:00
4072951    2016-12-30 22:00:00+00:00
4072952    2016-12-30 22:00:00+00:00
4072953    2016-12-30 22:00:00+00:00
4072954    2016-12-30 22:00:00+00:00
4072955    2016-12-30 22:00:00+00:00
Name: time, Length: 4072956, dtype: object

In [6]:
# what about news_train dates? Yes
news_train['time']

0         2007-01-01 04:29:32+00:00
1         2007-01-01 07:03:35+00:00
2         2007-01-01 11:29:56+00:00
3         2007-01-01 12:08:37+00:00
4         2007-01-01 12:08:37+00:00
5         2007-01-01 12:08:37+00:00
6         2007-01-01 12:08:37+00:00
7         2007-01-01 12:08:37+00:00
8         2007-01-01 12:08:37+00:00
9         2007-01-01 13:00:02+00:00
10        2007-01-01 13:00:08+00:00
11        2007-01-01 13:00:08+00:00
12        2007-01-01 13:00:08+00:00
13        2007-01-01 13:03:35+00:00
14        2007-01-01 13:30:02+00:00
15        2007-01-01 14:44:02+00:00
16        2007-01-01 15:03:13+00:00
17        2007-01-01 15:03:13+00:00
18        2007-01-01 15:07:39+00:00
19        2007-01-01 15:15:23+00:00
20        2007-01-01 15:57:32+00:00
21        2007-01-01 16:57:05+00:00
22        2007-01-01 16:57:05+00:00
23        2007-01-01 16:57:05+00:00
24        2007-01-01 18:03:35+00:00
25        2007-01-01 19:01:13+00:00
26        2007-01-01 19:01:13+00:00
27        2007-01-01 19:01:13+00:00
28        2007-01-01 19:01:13+00:00
29        2007-01-01 19:01:13+00:00
                    ...
999970    2008-05-12 12:58:42+00:00
999971    2008-05-12 12:58:42+00:00
999972    2008-05-12 12:58:42+00:00
999973    2008-05-12 12:58:42+00:00
999974    2008-05-12 12:58:57+00:00
999975    2008-05-12 12:58:57+00:00
999976    2008-05-12 12:58:57+00:00
999977    2008-05-12 12:58:57+00:00
999978    2008-05-12 12:58:57+00:00
999979    2008-05-12 12:58:57+00:00
999980    2008-05-12 12:58:57+00:00
999981    2008-05-12 12:58:57+00:00
999982    2008-05-12 12:58:57+00:00
999983    2008-05-12 12:58:57+00:00
999984    2008-05-12 12:58:57+00:00
999985    2008-05-12 12:58:57+00:00
999986    2008-05-12 12:59:47+00:00
999987    2008-05-12 12:59:47+00:00
999988    2008-05-12 13:00:01+00:00
999989    2008-05-12 13:00:06+00:00
999990    2008-05-12 13:00:07+00:00
999991    2008-05-12 13:00:08+00:00
999992    2008-05-12 13:00:09+00:00
999993    2008-05-12 13:00:09+00:00
999994    2008-05-12 13:00:09+00:00
999995    2008-05-12 13:00:11+00:00
999996    2008-05-12 13:00:14+00:00
999997    2008-05-12 13:00:14+00:00
999998    2008-05-12 13:00:14+00:00
999999    2008-05-12 13:00:15+00:00
Name: time, Length: 1000000, dtype: object

In [ ]:
# Examine Apple only
#df_market_apple = df_market.loc[df_market['assetName'] == "Apple Inc"]
#df_news_apple = df_news.loc[df_news['assetName'] == "Apple Inc"]
#df_news_apple['subjects']
#df_news_apple['audiences']

In [4]:
## Convert non-trading date to the next trading date
# Convert all the 'time' to datetime format in news_train and market_train
news_train['time'] = pd.to_datetime(news_train['time']).apply(lambda x: x.date())
market_train['time'] = pd.to_datetime(market_train['time']).apply(lambda x: x.date())

In [5]:
# Get all the unique dates from news data and market data
time_news = pd.DataFrame(news_train['time'].unique(), columns={'time'})
time_market = pd.DataFrame(market_train['time'].unique(), columns={'time'})

In [6]:
time_market

            time
0     2007-02-01
1     2007-02-02
2     2007-02-05
3     2007-02-06
4     2007-02-07
5     2007-02-08
6     2007-02-09
7     2007-02-12
8     2007-02-13
9     2007-02-14
10    2007-02-15
11    2007-02-16
12    2007-02-20
13    2007-02-21
14    2007-02-22
15    2007-02-23
16    2007-02-26
17    2007-02-27
18    2007-02-28
19    2007-03-01
20    2007-03-02
21    2007-03-05
22    2007-03-06
23    2007-03-07
24    2007-03-08
25    2007-03-09
26    2007-03-12
27    2007-03-13
28    2007-03-14
29    2007-03-15
...          ...
2468  2016-11-17
2469  2016-11-18
2470  2016-11-21
2471  2016-11-22
2472  2016-11-23
2473  2016-11-25
2474  2016-11-28
2475  2016-11-29
2476  2016-11-30
2477  2016-12-01
2478  2016-12-02
2479  2016-12-05
2480  2016-12-06
2481  2016-12-07
2482  2016-12-08
2483  2016-12-09
2484  2016-12-12
2485  2016-12-13
2486  2016-12-14
2487  2016-12-15
2488  2016-12-16
2489  2016-12-19
2490  2016-12-20
2491  2016-12-21
2492  2016-12-22
2493  2016-12-23
2494  2016-12-27
2495  2016-12-28
2496  2016-12-29
2497  2016-12-30

[2498 rows x 1 columns]

In [7]:
time_news

           time
0    2007-01-01
1    2007-01-02
2    2007-01-03
3    2007-01-04
4    2007-01-05
5    2007-01-06
6    2007-01-07
7    2007-01-08
8    2007-01-09
9    2007-01-10
10   2007-01-11
11   2007-01-12
12   2007-01-13
13   2007-01-14
14   2007-01-15
15   2007-01-16
16   2007-01-17
17   2007-01-18
18   2007-01-19
19   2007-01-20
20   2007-01-21
21   2007-01-22
22   2007-01-23
23   2007-01-24
24   2007-01-25
25   2007-01-26
26   2007-01-27
27   2007-01-28
28   2007-01-29
29   2007-01-30
..          ...
468  2008-04-13
469  2008-04-14
470  2008-04-15
471  2008-04-16
472  2008-04-17
473  2008-04-18
474  2008-04-19
475  2008-04-20
476  2008-04-21
477  2008-04-22
478  2008-04-23
479  2008-04-24
480  2008-04-25
481  2008-04-26
482  2008-04-27
483  2008-04-28
484  2008-04-29
485  2008-04-30
486  2008-05-01
487  2008-05-02
488  2008-05-03
489  2008-05-04
490  2008-05-05
491  2008-05-06
492  2008-05-07
493  2008-05-08
494  2008-05-09
495  2008-05-10
496  2008-05-11
497  2008-05-12

[498 rows x 1 columns]

In [6]:
#Keep a copy of news date and market date before merging
#time_news['time_n'] = time_news['time']
time_market['time_m'] = time_market['time']

In [7]:
# Merge the two dataframes,the merged df should have the same length with time_news
df= pd.merge(left=time_market, right= time_news, how='right', on=['time'])
assert len(df) == len(time_news)

In [8]:
# sort the date to be in ascending order
df= df.sort_values(by=['time'])

In [9]:
# Delete the rows before 2007-02-01 as market data start from this date, and it is a trading date
cutoff = pd.to_datetime("2007-02-01").date()
df = df[~(df['time'] < cutoff)]

In [10]:
df.head()

           time      time_m
0    2007-02-01  2007-02-01
1    2007-02-02  2007-02-02
353  2007-02-03         NaN
354  2007-02-04         NaN
2    2007-02-05  2007-02-05

In [ ]:
#df= df.set_index(df['date'])

In [11]:
# Backward fill the NaN's in date_m column to make non-trading dates the next trading date
df_adjusted = df.fillna(method='bfill')

In [12]:
df_adjusted.head()

           time      time_m
0    2007-02-01  2007-02-01
1    2007-02-02  2007-02-02
353  2007-02-03  2007-02-05
354  2007-02-04  2007-02-05
2    2007-02-05  2007-02-05

In [13]:
# Merge the df_adjusted back to news data on time
# Note that for the first few rows of news, the time_m is NaN, this is fine as we don't
# corresponding time in the market data. 
# !!!!Can double check this after merging with market data !!!
news_train_adjusted= pd.merge(left=news_train, right= df_adjusted, how='left', on=['time'])
assert len(news_train_adjusted)==len(news_train)

In [18]:
news_train_adjusted.head()

,time,sourceTimestamp,firstCreated,sourceId,headline,urgency,takeSequence,provider,subjects,audiences,bodySize,companyCount,headlineTag,marketCommentary,sentenceCount,wordCount,assetCodes,assetName,firstMentionSentence,relevance,sentimentClass,sentimentNegative,sentimentNeutral,sentimentPositive,sentimentWordCount,noveltyCount12H,noveltyCount24H,noveltyCount3D,noveltyCount5D,noveltyCount7D,volumeCounts12H,volumeCounts24H,volumeCounts3D,volumeCounts5D,volumeCounts7D,time_m
0,2007-01-01,2007-01-01 04:29:32+00:00,2007-01-01 04:29:32+00:00,e58c6279551b85cf,China's Daqing pumps 43.41 mln tonnes of oil i...,3,1,RTRS,"{'ENR', 'ASIA', 'CN', 'NGS', 'EMRG', 'RTRS', '...","{'Z', 'O', 'OIL'}",1438,1,NaN,False,11,275,"{'0857.HK', '0857.F', '0857.DE', 'PTR.N'}",PetroChina Co Ltd,6,0.235702,-1,0.500739,0.419327,0.079934,73,0,0,0,0,0,0,0,3,6,7,NaN
1,2007-01-01,2007-01-01 07:03:34+00:00,2007-01-01 07:03:34+00:00,5a31c4327427f63f,"FEATURE-In kidnapping, finesse works best",3,1,RTRS,"{'FEA', 'CA', 'LATAM', 'MX', 'INS', 'ASIA', 'I...","{'PGE', 'PCO', 'G', 'ESN', 'MD', 'PCU', 'DNP',...",4413,1,FEATURE,False,55,907,{'STA.N'},Travelers Companies Inc,8,0.447214,-1,0.600082,0.345853,0.054064,62,1,1,1,1,1,1,1,3,3,3,NaN
2,2007-01-01,2007-01-01 11:29:56+00:00,2007-01-01 11:29:56+00:00,1cefd27a40fabdfe,PRESS DIGEST - Wall Street Journal - Jan 1,3,1,RTRS,"{'RET', 'ENR', 'ID', 'BG', 'US', 'PRESS', 'IQ'...","{'T', 'DNP', 'PSC', 'U', 'D', 'M', 'RNP', 'PTD...",2108,2,PRESS DIGEST,False,15,388,"{'WMT.DE', 'WMT.N'}",Wal-Mart Stores Inc,14,0.377964,-1,0.450049,0.295671,0.254280,67,0,0,0,0,0,0,0,5,11,17,NaN
3,2007-01-01,2007-01-01 12:08:37+00:00,2007-01-01 12:08:37+00:00,23768af19dc69992,PRESS DIGEST - New York Times - Jan 1,3,1,RTRS,"{'FUND', 'FIN', 'CA', 'SFWR', 'INS', 'PUB', 'B...","{'T', 'DNP', 'PSC', 'U', 'D', 'M', 'RNP', 'PTD...",1776,6,PRESS DIGEST,False,14,325,"{'GOOG.O', 'GOOG.OQ', 'GOOGa.DE'}",Google Inc,13,0.149071,-1,0.752917,0.162715,0.084368,83,0,0,0,0,0,0,0,5,13,15,NaN
4,2007-01-01,2007-01-01 12:08:37+00:00,2007-01-01 12:08:37+00:00,23768af19dc69992,PRESS DIGEST - New York Times - Jan 1,3,1,RTRS,"{'FUND', 'FIN', 'CA', 'SFWR', 'INS', 'PUB', 'B...","{'T', 'DNP', 'PSC', 'U', 'D', 'M', 'RNP', 'PTD...",1776,6,PRESS DIGEST,False,14,325,{'XMSR.O'},XM Satellite Radio Holdings Inc,11,0.149071,-1,0.699274,0.209360,0.091367,102,0,0,0,0,0,0,0,0,0,0,NaN

In [17]:
# Use time_m as merging key for further manipulation